<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created </th>
        <td mat-cell *matCellDef="let element"> {{element.created | date:'short'}} </td>
      </ng-container>

      <ng-container matColumnDef="firstNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> First Number</th>
        <td mat-cell *matCellDef="let element"> {{element.firstNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="secondNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Second number </th>
        <td mat-cell *matCellDef="let element"> {{element.secondNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="thirdNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Third number
        </th>
        <td mat-cell *matCellDef="let element"> {{element.thirdNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="fourthNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Fourth number
        </th>
        <td mat-cell *matCellDef="let element"> {{element.fourthNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="fifthNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Fifth number
        </th>
        <td mat-cell *matCellDef="let element"> {{element.fifthNumber}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10]" aria-label="Select page of draws"></mat-paginator>
</div>
